<div class="container">
  <div class="cabecalho">
    <h1>Cursos</h1>
    <div>
      <a [routerLink]="['novo']">Novo Cursos</a>
      <button (click)="onRefresh()">Atualizar</button>
    </div>

  </div>

  <div class="corpo">
    <table class="table table-striped" *ngIf="cursos$ | async as cursos; else loading">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let curso of cursos">
          <th scope="row">{{ curso.id }}</th>
          <td>{{ curso.nome }}</td>
          <td>
            <button class="editar">Editar</button>
            <button class="deletar">Deletar</button>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #loading>
      <div *ngIf="error$ | async; else loadingNoError">
        Error ao carregar cursos...
      </div>

      <ng-template #loadingNoError>
        <span>Carregando o curso</span>
      </ng-template>

    </ng-template>

  </div>
</div>
